<!doctype html>
<html>
     <head>
        <title>{{title}}</title>

        <a href='/newpost'>Add a Blog Entry</a>
        <a href='/'>  Main Blog Page</a>
    
    <style>   

   

    
    <form method = 'POST' action = "/">
        <label>Title
            <input name="Title" type="string" value='{{new_title}}' />
        </label>
        <label>Body
            <input name="Body" type="string" value='{{new_body}}' />
        </label>
    
   
    </style>
    </head>

   

    
<body>
    {% block content %}
    {% endblock %}

</body>
</html>