{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
       

    {% if blogs|length == 0 %}
    <p>No Blogs Yet</p>
    {% else %}

        <ul>
            {% for single_blog in blogs %}
            
             <h4><a href='/blogs?id={{single_blog.id}}'>{{single_blog.title}}</a></h4>  
            <br>
            <p>{{single_blog.body}}</p>
                
            <p>By: <a href="./blogs?user={{user.id}}">{{user.username}}</a></p>       
               
       
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}