{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
       

    {% if blogs|length == 0 %}
    <p>No Blogs Yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            
             <h4>
                 <p><a href='/blogs?blog_id={{blog.user.id}}'>{{blog.title}}</a></p></h4>  
            <br>
            <p>{{blog.body}}</p>
                
            <p> By: <a href="/blogs?user_id={{blog.user.id}}">{{blog.user.username}}</a></p>       
               
       
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}