{% extends "base.html" %}

{% block content %}
    <h1>Time to Blog!</h1>
    <form action="/blogs", method="POST">
        <label for>Body{{ blog_body }}</label>
        <input id="search-term" type="string" name="q" />
        <input type="submit" />
  

            Title:
            <input type="string" name='blog_title' value="{{ title }}" />
            <span class="error">{{ title_error }}</span>
        </label>

        <hr />
        
        <label>
            Blog Body Here:
        </label>
            <textarea type="string" name='body' value="{{ body }}">{{ body }}</textarea>
            <span class="error">{{ body_error }}</span>
            <input type="submit" value='Add Entry' />
    </form>
{% endblock %} 

