{% extends "base.html" %}

{% block content %}
    <p>welcome {{user.username}}</p>
    <h1>Time to Blog!</h1>
    
    <form action="/newpost", method="POST">
        
        <label for="title">Enter Title:</label>
        <br>
        <input id="title" type="text" name="title" value={{title}}>
        <span="error">{{notitle_error}}</span>
        <br>
        <br>
        <label for="body">Enter Body:</label>
        <span="error">{{nobody_error}}</span>
        <br>
        <textarea rows="4" cols="50" name="body" id="body">{{body}}</textarea>
        <br>
        <input type="submit" value="Add new blog"/>
        

      
    </form>
{% endblock %} 

