{% extends "base.html" %}

{% block content %}
  

    <hr />       
                <h1>
                    Blog Posts
                </h1>
                {% for blog in blogs %}
                
                    <h1>
                        <a href="/blogs?blog_id={{blog.id}}">{{blog.title}}</a>
                    </h1>
                    <p>
                        {{body}}
                    </p>
                    <p>
                        By: <a href="/blogs?user_id={{blog.user.id}}">{{blog.user.username}}</a> 
                    </p>
                {% endfor %}
                
          

    <hr />

 

{% endblock %}